<% include ../layout/header.ejs %>

<div class="main">
    <div class="container">
        <div class="content">

            <div class="post">
                <div class="top">
                    <h2>
                        <%= post.title %>
                        <% if (post.owner.login === user.login) { %>

                        <a style="color: black;text-decoration: none;" href="/post/edit/<%= post.id %>">✎</a>
                        <% } %>
                    </h2>
                </div>
                <div class="body">

                    <%- post.body %>

                </div>
                <div class="bottom">

                    <% if (post.status === 'moderated' && post.owner.login === user.login) { %>
                    <span class="moderated">
                На главной появится после модерации.
              </span>
                    <% } %>
                    <div class="author">
                        Автор:
                        <a href="/users/<%= post.owner.login %>">
                            <%= post.owner.login %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="comments" id="<%= post.id %>">
                <h3>Комментарии</h3>
                <div class="comment-list">
                    <%- include('../layout/comments.ejs', {items: comments}) %>

                    <% if(!user.id && !user.login) { %>
                    <p>
                        <i>Для комментирования нужно авторизоваться</i>
                    </p>
                    <% } else { %>
                    <form class="comment">
                        <textarea name="body"></textarea>
                        <div class="buttons">
                            <button class="cancel secondary">Отмена</button>
                            <button class="send">Отправить</button>
                        </div>
                    </form>
                    <% } %>

                </div>
            </div>


        </div>

        <% include ../layout/sidebar.ejs %>

    </div>
</div>

<% include ../layout/footer.ejs %>